## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/
bld/
[Ll]og/
[Ll]ogs/

# Platform-specific folders
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Ww][Ii][Nn]32/

# VS temporary folders
.vs/
.vscode/
.idea/        # JetBrains Rider

# Ignore all appsettings files
appsettings*.json

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core files
appsettings.*.local.json
appsettings.Development.json
secrets.json

# Launch profiles
Properties/launchSettings.json

# EF Core migration build files
Migrations/**/*.Designer.cs
Migrations/**/*Snapshot.cs

# .NET Core
project.lock.json
project.fragment.lock.json

# Packages
*.nupkg
*.snupkg

# Backup & temp files
*~
~$*
*.tmp

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
*.log

# Code coverage reports
coverage/
coverage.cobertura.xml
coverage.opencover.xml
lcov-report/

# Logs and dumps
*.log
*.dmp

# MSBuild logs
*.binlog

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Rider / ReSharper
.ReSharper*/
*.DotSettings.user

# JetBrains Rider workspace
.idea/

# DotCover
*.dcvr

# File system
Thumbs.db
ehthumbs.db
